
*.xml
*.kpt
*.sopcinfo
*.html
*.xml
*.hdb
*.qsys
*.sopcinfo
*.qpf
*.qsf
*.bak
*.qws
*.v
*.bak
quartusProjv3/software/workspace/.metadata/.log
*/.qsys_edit
*/db
*/incremental_db
*/nios_system
*/piano_bsp
*/workspace
