
*.xml
*.kpt
*.sopcinfo
*.html
*.xml
*.hdb
*.qsys
*.sopcinfo
*.qpf
*.qsf
*.bak
*.qws
*.v
*.bak
quartusProjv3/software/workspace/.metadata/.log
*/.qsys_edit
*/db
*/incremental_db
*/nios_system
*/piano_bsp
*/workspace
quartusProjv3/software/workspace/.metadata/.plugins/org.eclipse.core.resources/.history/b/f01dd3945835001b17fdcbfdc1fc6467
quartusProjv3/software/workspace/.metadata/.plugins/org.eclipse.cdt.ui/global-build.log
quartusProjv3/software/workspace/.metadata/.plugins/org.eclipse.cdt.ui/piano.build.log
quartusProjv3/software/workspace/.metadata/.plugins/org.eclipse.core.resources/.history/73/50cb4b005d35001b17fdcbfdc1fc6467
quartusProjv3/software/workspace/.metadata/.plugins/org.eclipse.core.resources/.projects/piano/.markers.snap
quartusProjv3/software/workspace/.metadata/.plugins/org.eclipse.core.resources/.projects/piano_bsp/.markers.snap
quartusProjv3/software/workspace/.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/.markers.snap
quartusProjv3/software/workspace/.metadata/.plugins/org.eclipse.core.resources/.root/.markers.snap
quartusProjv3/software/workspace/.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
quartusProjv3/software/workspace/.metadata/.plugins/org.eclipse.core.resources/26.snap
quartusProjv3/software/workspace/.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/.syncinfo.snap
quartusProjv3/software/workspace/.metadata/.plugins/org.eclipse.core.resources/.projects/piano_bsp/.syncinfo.snap
quartusProjv3/software/workspace/.metadata/.plugins/org.eclipse.core.resources/.projects/piano/.syncinfo.snap
quartusProjv3/software/workspace/.metadata/.plugins/org.eclipse.cdt.ui/piano.build.log
quartusProjv3/software/workspace/.metadata/.plugins/org.eclipse.cdt.ui/global-build.log
quartusProjv3/software/workspace/.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
