
*.xml
*.kpt
*.sopcinfo
*.html
*.xml
*.hdb
*.qsys
*.sopcinfo
*.qpf
*.qsf
*.bak
*.qws
*.v
*.bak
quartusProjv3/software/workspace/.metadata/.log
*/.qsys_edit
*/db
*/incremental_db
*/nios_system
*/piano_bsp
*/workspace
quartusProjv3/software/workspace/.metadata/.plugins/org.eclipse.core.resources/.history/b/f01dd3945835001b17fdcbfdc1fc6467
quartusProjv3/.metadata/.log
*.zip
quartusProjv3/.metadata/.plugins/org.eclipse.cdt.core/.log
*.pdom
*.cpp
*.log
*.snap
quartusProjv3/.metadata/.plugins/org.eclipse.core.resources/.projects/piano/.location
*.index
*.properties
*.prefs
*.launch
*.resources
*.libhover
*.xmi
*.history
*.mark
quartusProjv3/.metadata/.plugins/org.eclipse.team.cvs.core/.running
*.ini
quartusProjv3/.metadata/.lock
*.cdb
quartusProjv3/.metadata/.plugins/org.eclipse.cdt.make.core/specs.c
quartusProjv3/.metadata/.plugins/org.eclipse.cdt.managedbuilder.core/spec.c
*.cdb
*.cdb
*.cdb
*.cdb
*.hdb
